doctype html
html
  head
    meta(name='viewport',content='width=device-width,initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    table#gridTable
      tr
        td#grid7
        td#grid8
        td#grid9
      tr
        td#grid4
        td#grid5
        td#grid6
      tr
        td#grid1
        td#grid2
        td#grid3
    button#restart restart
    p#timer
    script(src='/javascripts/m1.js')
